framework: netcoreapp22, netstandard20

source https://api.nuget.org/v3/index.json

nuget FSharp.Core                       ~> 4.3.0
nuget Newtonsoft.Json                   ~> 12.0

group Build
framework: netcoreapp22
content: none
source https://api.nuget.org/v3/index.json

github aardvark-platform/aardvark.fake:v4-temp

