framework: netstandard2.0, netcoreapp2.1, netcoreapp3.1
source https://api.nuget.org/v3/index.json

nuget FSharp.Core                   >= 4.6.2 lowest_matching: true
nuget Aardvark.Base                 ~> 5.0.14
nuget Newtonsoft.Json               ~> 12.0

nuget Microsoft.NET.Test.Sdk        ~> 16.5.0
nuget coverlet.collector            ~> 1.2.0
nuget xunit                         ~> 2.4.0
nuget xunit.runner.visualstudio     ~> 2.4.0