version 6.0.0
framework: netstandard2.0, netstandard2.1, netcoreapp3.1, net6.0, net472
storage: none
source https://api.nuget.org/v3/index.json

nuget System.Memory                 ~> 4.5.5

nuget FSharp.Core                   >= 5.0.0 lowest_matching: true
nuget Aardvark.Build                ~> 1.0.18

nuget Aardvark.Base                 ~> 5.2.1

nuget Microsoft.NET.Test.Sdk        ~> 17.0.0
nuget coverlet.collector            ~> 3.1.0
nuget xunit                         ~> 2.4.1
nuget xunit.runner.visualstudio     ~> 2.4.3

nuget Microsoft.SourceLink.GitHub   ~> 1.1.1