type project
id Aardworx.Data.DurableCodec2
authors Aardworx GmbH
owners Aardworx GmbH
projectUrl https://github.com/aardvark-community/aardvark.data.durable.dotnet
license https://github.com/aardvark-community/aardvark.data.durable.dotnet/blob/master/LICENSE
repositoryType git
repositoryUrl https://github.com/aardvark-community/aardvark.data.durable.dotnet
description
    Durable data codec.
    See https://github.com/aardvark-community/aardvark.data.durable.definitions.
include-pdbs true