type project
id Aardvark.Data.Durable
authors Aardworx GmbH
owners Aardworx GmbH
projectUrl https://github.com/aardvark-community/aardvark.data.durable.dotnet
license https://github.com/aardvark-community/aardvark.data.durable.dotnet/blob/master/LICENSE
repositoryType git
repositoryUrl https://github.com/aardvark-community/aardvark.data.durable.dotnet
description
    .NET types for Aardvark durable data definitions.
    See https://github.com/aardvark-community/aardvark.data.durable.definitions.
include-pdbs true